body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
}

footer {
  background: green;
  color: white;
  text-align: center;
  padding: 10px;

}

.section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

html {
  scroll-behavior: smooth;
}

nav a:hover {
  background: #0b5e20;
  padding: 6px 10px;
  border-radius: 5px;
}

