body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: green;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
}

footer {
  background: green;
  color: white;
  text-align: center;
  padding: 10px;

}

.section {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

html {
  scroll-behavior: smooth;
}

nav a:hover {
  background: #0b5e20;
  padding: 6px 10px;
  border-radius: 5px;
}




.notice-board {
    background: #fff8dc;
    border: 2px solid #2e7d32;
    padding: 15px;
    margin: 20px auto;
    max-width: 900px;
    font-family: Arial, sans-serif;
}

.notice-board h2 {
    background: #2e7d32;
    color: white;
    padding: 10px;
    margin: -15px -15px 15px -15px;
    font-size: 20px;
}

.notice-board ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notice-board li {
    padding: 8px 0;
    border-bottom: 1px dashed #aaa;
    font-size: 15px;
}

.notice-board li:last-child {
    border-bottom: none;
}

.notice-board a {
    text-decoration: none;
    color: #000;
}

.notice-board a:hover {
    text-decoration: underline;
    color: #2e7d32;
}

.date {
    font-size: 13px;
    color: #555;
    margin-right: 8px;
}

.new {
    background: red;
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 6px;
    border-radius: 3px;
}

.view-all {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #2e7d32;
}
